html, body {
    height: 100%;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.wrap > .container {
    padding: 70px 15px 20px;
}
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.loader{
	width:100%;
	height:40px;
	background: url('../images/ajax-loader.gif') center center no-repeat;
}
.record{
	overflow: hidden;
	margin-bottom: 15px;
}
.record:nth-child(odd){
	background:#F1F1F1;
}
	.record .image{
		float:left;
		margin-right:10px;
	}
	.record-text{
		overflow: hidden;
		line-height: 20px;
		height:60px;
	}
	.record:nth-child(9n) .record-text{
		height:100px;
	}
	.record:nth-child(7n) .record-text{
		height:80px;
	}
